@using DocManager.Model.Models
@using DocManager.Model.Models.DTOs
@model User
@{
	ViewData["Title"] = "Actualizar Usuario";
}

<h1 class="bg-info text-white">Actualiza Usuario</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post">
	<div class="form-group">
		<label asp-for="User_Id"></label>
		<input asp-for="User_Id" class="form-control" readonly />
	</div>
	<div class="form-group">
		<label asp-for="User_Nombre"></label>
		<input asp-for="User_Nombre" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="User_Email"></label>
		<input asp-for="User_Email" class="form-control" />
	</div>
	<div class="form-group">
		<label for="User_Password">Password</label>
		<input name="User_Password" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="RoleName"></label>
		<select asp-for="RoleName" name="RoleName">
			@foreach (var role in Model.RoleList)
			{

				<option value="@role.Name">@role.Name</option>
			}
		</select>
	
	
	<button type="submit" class="btn btn-primary">Save</button>
</form>